Exercício

In [3]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
numero = list(range(1,10))

for numeros in numero:
    print(numeros)

1
2
3
4
5
6
7
8
9

In [5]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
lista1 = ["Vermelho", "Amarelo", "Azul", "Preto", "Marrom"]
print(lista1)

for lista in lista1:
    print("Obejto: ", lista)

['Vermelho', 'Amarelo', 'Azul', 'Preto', 'Marrom']
Obejto:  Vermelho
Obejto:  Amarelo
Obejto:  Azul
Obejto:  Preto
Obejto:  Marrom

In [7]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
nome = "Maria"
sobrenome = "Gabriela"

nomeCompleto = nome + " " + sobrenome

print(nomeCompleto)

Maria Gabriela

In [24]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

elementos = (1,2,2,3,4,4,4,5)

print(f"O número 4 se repete {elementos.count(4)} vezes na tupla")

O número 4 se repete 3 vezes na tupla

In [25]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
dict = {}
print(dict)

{}

In [26]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dict1 = {"Gabriela": 21, "Maria": 30, "Roberto": 58}

print(dict1)

{'Gabriela': 21, 'Maria': 30, 'Roberto': 58}

In [30]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dict1["José"] = 18
print(dict1)

{'Gabriela': 21, 'Maria': 30, 'Roberto': 58, 'José': 18}

In [31]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. 
# Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

dict2 = {"Fusca": 1980, "Chevete":[1990,1993],"Kombi":[2005,2018]}
print(dict2)

{'Fusca': 1980, 'Chevete': [1990, 1993], 'Kombi': [2005, 2018]}

In [32]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista.

lista_elementos = ["Python", ("PHP", "Java"), {"Go": 2023, "Javascript": 1991}, 20.8]
print(lista_elementos)

['Python', ('PHP', 'Java'), {'Go': 2023, 'Javascript': 1991}, 20.8]

In [35]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

frase[1:19]

'ientista de Dados '

Fim